<%= render "partials/errors" %>
<%= render "partials/navbar" %>
<div class= "w-full max-w-xs m-auto text-center my-5">
  <h1 class="text-orange-600 text-4xl uppercase">New Article</h1>
</div>
<%= render 'form', article: @article %>
<%= render "partials/footer" %>