
<div>
  <% flash.each do |key, value| %>
    <div class="elementToFadeInAndOut bg-orange-100 border-t border-b border-orange-500 text-orange-700 px-4 py-3" role="alert">
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  </p>
</div>