.top-img-size {
  height: 450px;
}

.txt-bg {
  background: linear-gradient(360deg, rgba(78,68,62,1) 0%, rgba(0,0,0,0) 100%);
}

.txt-bg-cat {
  background: linear-gradient(360deg, rgba(78, 68, 62, 0.85) 0%, rgba(0,0,0,0) 100%);
}

.green-underline {
  border-bottom: 2px solid greenyellow;
  display: inline-block;
}